VITE_GOOGLE_API_KEY=google-api-key
VITE_GOOGLE_OAUTH_CLIENT_ID=google-oauth-client-id
VITE_AUTH_SERVICE_HOST=auth-service-host
VITE_ENABLE_AUTH_SERVICE=false
VITE_QUERY_STALE_TIME=600000
VITE_QUERY_GC_TIME=600000